<div class="container" style="padding-right: 50px;padding-left: 50px;">
<div class="row">
<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1" id="disqus_thread">

</div>
</div>
</div>
<script type="text/javascript">
    let giscusAttributes = {
        src: "https://giscus.app/client.js",
        "data-repo": "da-in/da-in.github.io",
        "data-repo-id": "MDEwOlJlcG9zaXRvcnkzNTM5MDcyOTU=",
        "data-category": "General",
        "data-category-id": "DIC_kwDOFRgyX84CSEWg",
        "data-mapping": "pathname",
        "data-reactions-enabled": "1",
        "data-emit-metadata": "0",
        "data-theme": initTheme,
        "data-input-position":
            "bottom",
        "data-lang": "",
        crossorigin: "anonymous",
        async: "",
    };

    let giscusScript = document.createElement("script");
    Object.entries(giscusAttributes).forEach(([key, value]) =>
        giscusScript.setAttribute(key, value)
    );
    document.getElementById("tail-wrapper").appendChild(giscusScript);
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
